{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card trans shadow">
        <div class="card-body">
          <h2 class="text-center card-title oswald-title off-white">{% trans "Sign In" %}</h2>
          <div class="row">
            <div class="col">.
              <div class="card shadow bg-off-white p-2">

                <p class="purple-3 card-text mb-0">{% blocktrans %}Welcome to Showcase.{% endblocktrans %}</p>
                <p class="purple-3 card-text mb-0">{% blocktrans %}If you would like to create, like, and comment on posts, please login.{% endblocktrans %}</p>
                <p class="purple-3 card-text">{% blocktrans %}Or, if you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>


                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="bg-purple-3 off-white sign-in-out-btn oswald-title px-2 py-1 rounded" type="submit">{% trans "Sign In" %}</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}