{% load crispy_forms_tags %}
{% block comment %}
<!-- Form for adding comments -->
<div class="row">
    <div class="col-12">
        <div class="card shadow bg-off-white purple-3">
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <div class="container-fluid d-inline-flex justify-content-center m-2">
                    <button type="submit" value="input" role="button"
                        class="btn comment-btn off-white bg-purple-3 oswald-title border-secondary">Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock comment %}