{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid mt-5 mb-4">
    <div class="row">
        <div class="col-12 col-sm-8 py-3">
            <div class="card shadow d-sm-none mb-4 trans">
                <div class="card-body fancy text-center off-white">
                    <h3 class="card-title">Showcase your creativity</h3>
                </div>
            </div>
            <div class="card trans shadow">
                <div class="card-body text-center">
                    <h2 class="card-title oswald-title off-white">Artform</h2>
                    <div class="row">
                        {% for key, value in category %}
                        <div class="col-6 col-md-3">
                            <div class="card shadow bg-purple-2 text-center mb-4 border-0">
                                <a href="{% url 'artform' value %}">
                                    <div class="card-body p-0">
                                        <img class="img-fluid rounded-top card-image-top"
                                            src="{% static 'images/' %}{{ key }}.jpg" alt="generic artform image">
                                        <h4 class="card-title artform-btn btn off-white bg-purple-3 m-0 col-12 rounded-bottom"
                                            role="button">{{ value }}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-3">
            <div class="card shadow d-none d-sm-block d-md-none mb-4 trans">
                <div class="card-body fancy text-center off-white">
                    <h3 class="card-title">Showcase</h3>
                    <h3 class="card-title">your</h3>
                    <h3 class="card-title">creativity</h3>
                </div>
            </div>
            <div class="card shadow trans">
                <div class="card-body text-center">
                    <h2 class="card-title oswald-title index-title off-white">Top 10</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card shadow bg-purple-2">
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}