{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container-fluid post-top">
    <div class="row">
        <div class="col">
            <div class="card shadow trans">
                <div class="card-body">
                    <span>
                        <a href="javascript:history.back()">
                            <i class="fa-solid fa-circle-chevron-left off-white back"></i>
                        </a>
                    </span>
                    <h2 class="card-title oswald-title off-white text-center mb-2">{{ post.title }}</h2>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">
                            <div class="card shadow bg-purple-3 mb-4 border-0">
                                <div class="card-body p-0">
                                    {% if "placeholder" in post.image.url %}
                                    {% for key, value in category %}
                                    {% if key == post.artform %}
                                    <img src="{% static 'images/' %}{{ value }}.jpg" alt="placeholder image"
                                        class="img-fluid rounded-3">
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ post.image.url }}" alt="posted media">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 my-auto">
                            <div class="card shadow bg-purple-3 mb-4">
                                <div class="card-body off-white">
                                    <div class="container-fluid d-inline-flex p-0">
                                        <span class="card-text info-size">
                                            {{ post.created_date | timesince }} ago 
                                        </span>
                                        {% if request.user.is_authenticated %}
                                        <span class="ms-auto card-text info-size">
                                            <a href="#" class="off-white post-link">Report</a> 
                                        </span>
                                        {% endif %}
                                    </div>
                                    <p class="my-2 card-text info-size"><strong>Posted By:</strong>
                                        {{ post.user_name }}</p>
                                    <p class="my-2 card-text info-size"><strong>Artform:</strong>
                                        {{ post.artform }}</p>
                                    <p class="my-2 card-text info-size"><strong>Description:</strong>
                                        {{ post.description | safe }}</p>
                                    <strong class="info-size">
                                        {% if user.is_authenticated %}
                                        <form action="" class="d-inline off-white" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" name="" value="{{ info.id }}" class="like-btn bg-purple-3">
                                                <i class="fa-solid fa-angle-up off-white auth"></i>
                                            </button>
                                        </form>
                                        {% else %}
                                        <span><i class="fa-solid fa-angle-up"></i></span>
                                        {% endif %}
                                        <span>0</span>
                                    </strong>
                                    <strong class="info-size">
                                        {% if user.is_authenticated %}
                                        <form action="" class="d-inline" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" name="" value="{{ info.id }}" class="dislike-btn bg-purple-3">
                                                <i class="fa-solid fa-angle-down off-white auth"></i>
                                            </button>
                                        </form>
                                        {% else %}
                                        <span><i class="fa-solid fa-angle-down off-white"></i></span>
                                        {% endif %}
                                        <span>0</span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="card shadow bg-purple-3">
                                <div class="card-body">
                                    <i class="fa-regular fa-comment off-white fs-5"></i>
                                    <span class="card-text off-white">Comments</span>
                                    {% for comment in comments %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card shadow bg-off-white purple-3 mb-1">
                                                <div class="card-body p-2">
                                                    <div class="container-fluid px-0 d-inline-flex">
                                                        <p><strong>{{ comment.user_name }}</strong></p>
                                                        {% if request.user == comment.user_name %}
                                                        <span class="ps-2 ms-auto">
                                                            <a href="#" class="post-link purple-3">Edit</a>
                                                            <br>
                                                            <a href="#" class="post-link purple-3">Delete</a>
                                                        </span>
                                                        {% endif %}
                                                    </div>                                                
                                                    {{ comment.body | linebreaks }}
                                                    <div class="container-fluid px-0 d-inline-flex">
                                                        <p class="mb-0">{{ comment.created_date | timesince }} ago</p>
                                                        {% if request.user.is_authenticated %}
                                                        <span class="ms-auto">
                                                            <a href="#" class="post-link purple-3">Report</a>
                                                        </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="card purple-3 bg-off-white">
                                                <div class="card-body">
                                                    <p>No comments posted.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% if user.is_authenticated %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card shadow bg-off-white purple-3">
                                                <form method="post" >                                                    
                                                    {{ comment_form | crispy }}
                                                    {% csrf_token %}
                                                <div class="container-fluid d-inline-flex justify-content-center m-2">
                                                    <button type="submit" value="input" role="button" class="btn comment-btn off-white bg-purple-3 oswald-title border-secondary">Comment</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}