{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col">
            <div class="card shadow trans">
                <div class="card-body">
                    <!-- Back button takes user back to profile page if they are the op or back to the post list page if not -->
                    <span>
                        {% if request.user == post.user_name %}
                        <a href="../../../profile">
                            <i class="fa-solid fa-circle-chevron-left off-white back"></i>
                        </a>
                        {% else %}
                        <a href="../">
                            <i class="fa-solid fa-circle-chevron-left off-white back"></i>
                        </a>
                        {% endif %}
                    </span>
                    <!-- Post image -->
                    <h2 class="card-title oswald-title off-white text-center pb-3 mb-2">{{ post.title }}</h2>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">
                            <div class="card mb-4 bg-purple-3 border-0">
                                <div class="card-body p-0">
                                    {% if "placeholder" in post.image.url %}
                                    {% for key, value in static_images %}
                                    {% if key == post.artform %}
                                    <img src="{% static value %}" alt="placeholder image" class="img-fluid rounded-3">
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ post.image.url }}" alt="posted media">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Post info -->
                        <div class="col-12 col-md-6">
                            <div class="card shadow bg-purple-3 mb-4">
                                <div class="card-body off-white">
                                    <p class="card-text info-size"><strong>Created: </strong>
                                        {{ post.created_date | timesince }} ago
                                    </p>
                                    <p class="card-text info-size"><strong>Posted By:</strong>
                                        {{ post.user_name }}</p>
                                    <p class="card-text info-size"><strong>Artform:</strong>
                                        {{ post.artform }}</p>
                                    <p class="card-text info-size"><strong>Description:</strong>
                                        {{ post.description | safe }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Comments section -->
                        <div class="col-12 col-md-8">
                            <div class="card shadow bg-purple-3">
                                <div class="card-body">
                                    <strong>
                                        <span><i class="fa-regular fa-comment off-white fs-5"></i></span>
                                        <span class="off-white">{{ post.comments.count }}</span>
                                    </strong>
                                    <span class="card-text off-white">Comments</span>
                                    {% for comment in comments %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card shadow bg-off-white purple-3 mb-1">
                                                <div class="card-body p-2">
                                                    <div class="container-fluid px-0 d-inline-flex">
                                                        <p><strong>{{ comment.user_name }}</strong></p>
                                                        {% if request.user == comment.user_name %}
                                                        <span class="ps-2 ms-auto">
                                                            <small><a
                                                                    href="{% url 'delete_comment' post.artform post.id comment.id %}"
                                                                    class="post-link purple-3">Delete</a></small>
                                                        </span>
                                                        {% endif %}
                                                    </div>
                                                    {{ comment.body | linebreaks }}
                                                    <div class="container-fluid px-0 d-inline-flex">
                                                        <small class="mb-0">
                                                            {{ comment.created_date | timesince }} ago
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Message posted if no comments posted -->
                                    {% empty %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="card purple-3 bg-off-white mb-2">
                                                <div class="card-body">
                                                    <p>No comments posted.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Insert for add comment form -->
                                    {% endfor %}
                                    {% if user.is_authenticated %}
                                    {% block comment %}
                                    {% include 'comments/add_comment.html' %}

                                    {% endblock comment %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}