{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}

<div class="container-fluid mt-5">
    <span>
        <a href="javascript:history.back()">
            <i class="fa-solid fa-circle-chevron-left off-white back"></i>
        </a>
    </span>
    <div class="row pt-0">
        {% for post in posts %}
        <div class="col-12 col-sm-6 col-md-4">
            <a href="{% url 'full_post' post.artform post.id %}" class="post-card">
                <div class="card trans mt-2 mb-1 shadow">
                    <div class="card-body">
                        <h3 class="card-title oswald-title text-center off-white mb-1">{{ post.title }}</h3>
                        {% if "placeholder" in post.image.url %}
                        <img src="{% static 'images/palette-bg.jpg' %}" alt="placeholder palette"
                            class="img-fluid rounded-3">
                        {% else %}
                        <img src="{{ post.image.url }}" alt="posted media" class="img-fluid rounded-3">
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <div class="card shadow bg-purple-3">
                                    <div class="card-body">
                                        <div class="card-text off-white info-size">
                                            <p class="mb-0"><strong>Artform:</strong> {{ post.artform }}</p>
                                            <p class="mb-0"><strong>Description:</strong><span>
                                                    {{ post.description | safe | truncatechars:50 }}</span></p>
                                            <p class="mb-0"><strong>Posted by:</strong> {{ post.user_name }}</p>
                                            <p class="mb-0"><strong>Posted:</strong> {{ post.created_date | timesince }}
                                                ago
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}