{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}

<div class="container-fluid mb-3">
    <div class="container">
        <a href="../../">
            <i class="fa-solid fa-circle-chevron-left off-white back"></i>
        </a>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a href="{% url 'full_post' post.artform post.id %}" class="post-card">
                <div class="card trans mt-1 mb-4 shadow">
                    <div class="card-body pt-1">
                        <h3 class="card-title oswald-title text-center off-white mb-1">{{ post.title }}</h3>
                        {% if "placeholder" in post.image.url %}
                        {% for key, value in static_images %}
                        {% if key == post.artform %}
                        <img src="{% static value %}" alt="placeholder image"
                            class="img-fluid rounded-3">
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <img src="{{ post.image.url }}" alt="posted media" class="img-fluid rounded-3">
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <div class="card shadow bg-purple-3">
                                    <div class="card-body">
                                        <div class="card-text off-white info-size">
                                            <p class="mb-0"><strong>Artform:</strong> {{ post.artform }}</p>
                                            <p class="mb-0"><strong>Description:</strong><span>
                                                    {{ post.description | safe | truncatechars:50 }}</span></p>
                                            <p class="mb-0"><strong>Posted by:</strong> {{ post.user_name }}</p>
                                            <p class="mb-0"><strong>Posted:</strong> {{ post.created_date | timesince }}
                                                ago
                                            </p>
                                            <strong>
                                                <span><i class="fa-regular fa-comment off-white fs-5"></i></span>
                                                <span>{{ post.comments.count }}</span>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card bg-purple-3 off-white pt-3 text-center">
                    <div class="card-body">
                        <strong><p>No posts created for this artform yet.</p></strong>
                        <strong><p>Be the first!</p></strong>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}