body {
    background-color: #fff;
    font-family: 'Roboto Serif', serif;
}

.nav-bg {
    background: linear-gradient(to right, #532b88 0% 50%, #f4effa 50% 100%);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.brand {
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: #f4effa;
}

.fancy {
    font-family: 'Dancing Script', cursive;
    color: #f4effa;
    font-size: 1.5rem;
}

.search-box {
    height: 31px;
    border: 1px solid #532b88;
}

.search-btn {
    border: 1px solid #532b88;
    color: #532b88;
}

.search-btn:hover {
    background-color: #532b88;
    color: #f4effa;
}

.nav-link {
    text-align: center;
}

.nav-link p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.nav-link i {
    font-size: 2rem;
}

.nav-link.active {
    color: #532b88 !important;
}