body {
    background-color: #c8b1e4;
    font-family: 'Roboto Serif', serif;
}

/* Colours */

.off-white {
    color: #f4effa;
}

.purple-1 {
    color: #c8b1e4;
}

.purple-2 {
    color: #9b72cf;
}

.purple-3 {
    color: #532b88;
}

.purple-4 {
    color: #2f184b;
}

/* Navigation */

.nav-bg {
    background: linear-gradient(to right, #532b88 0% 50%, #f4effa 50% 100%);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.brand {
    font-size: 1.6rem;
    letter-spacing: 2px;
}

/* .show {
    padding-right: 10px;
} */

.fancy {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

.nav-link {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.git-link:hover,
.in-link:hover,
ul .nav-link:hover {
    color: #9b72cf;
}

.light,
.dark,
.navbar-brand {
    flex: 1;
}

.light .nav-link {
    color: #f4effa;
}

.dark .nav-link {
    color: #532b88;
}

.icon-name {
    font-size: 0.7rem;
    margin-bottom: 0;
}

.nav-link i {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .brand-dark {
        color: #532b88;
    }
}

@media screen and (max-width: 360px) {
    .nav-link {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}



/* Footer */

.footer-bg {
    background: linear-gradient(to right, #f4effa 0% 50%, #532b88 50% 100%);
}

.footer-left,
.footer-right {
    flex: 1;
}

.in-link {
    padding-left: 12px;
}

.git-link {
    padding-right: 12px;
}

.copywrite {
    font-size: 0.8rem;
}

.git-link,
.in-link {
    font-size: 1.2rem;
}