body {
    font-family: 'Roboto Serif', serif;
    padding: 0;
    margin: 0;
}

.bg {
    background: url('/static/images/palette-bg.jpg'), url('https://res.cloudinary.com/mwarddev/image/upload/v1647725829/static/images/palette-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Colours */

.off-white {
    color: #f4effa;
}

.purple-1 {
    color: #c8b1e4;
}

.purple-2 {
    color: #9b72cf;
}

.purple-3 {
    color: #532b88;
}

.purple-4 {
    color: #2f184b;
}

.bg-off-white {
    background-color: #f4effa;
}

.bg-purple-1 {
    background-color: #c8b1e4;
}

.bg-purple-2 {
    background-color: #9b72cf;
}

.bg-purple-3 {
    background-color: #532b88;
}

.bg-purple-4 {
    background-color: #2f184b;
}

/* Navigation */

.nav-bg {
    background: linear-gradient(to right, #532b88 0% 50%, #f4effa 50% 100%);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.brand {
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.fancy {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

.nav-link {
    text-align: center;
}

.git-link:hover,
.in-link:hover,
ul .nav-link:hover,
.auth:hover,
.post-link:hover {
    color: #9b72cf;
}

.light,
.dark,
.navbar-brand {
    flex: 1;
}

.light .nav-link {
    color: #f4effa;
}

.dark .nav-link {
    color: #532b88;
}

.icon-name {
    font-size: 0.7rem;
    margin-bottom: 0;
}

.nav-link i {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .brand-dark {
        color: #532b88;
    }
}

/* Footer */

.footer-bg {
    background: linear-gradient(to right, #f4effa 0% 50%, #532b88 50% 100%);
}

.footer-left,
.footer-right {
    flex: 1;
}

.in-link {
    padding-left: 12px;
}

.git-link {
    padding-right: 12px;
}

.copywrite {
    font-size: 0.8rem;
}

.git-link,
.in-link {
    font-size: 1.2rem;
}

/* index.html */

.oswald-title,
.artform-btn {
    font-family: 'Oswald', sans-serif;
}

.artform-btn {
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 4px 6px;
}

.sign-in-out-btn:hover,
.artform-btn:hover {
    color: #532b88;
    background-color: #f4effa;
}

.trans {
    background-color: rgba(155, 114, 207, 0.5);
}

/* posts.html */

.post-link,
.post-card {
    text-decoration: none;
}

.post-link:hover

.info-size {
    font-size: 0.9rem;
}

/* full_post.html */

.post-top {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.create-link:hover,
.back:hover {
    color: #532b88;
}

.like-btn,
.dislike-btn {
    border: none;
}

.like-btn:hover,
.dislike-btn:hover {
    color: #c8b1e4;
}

/* profile.html */

.back,
.create {
    font-size: 2rem;
}

.create-title {
    font-size: 0.8rem;
}
