{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-5 mb-4">
    <div class="row">
        <div class="col-12 col-sm-8 py-3">
            <div class="card shadow d-sm-none mb-4 bg-purple-1">
                <div class="card-body fancy text-center purple-4">
                    <h4>Showcase your creativity</h4>
                </div>
            </div>
            <div class="card bg-purple-1 order-2 shadow">
                <div class="card-body text-center">
                    <h3 class="card-title index-title purple-3">Artform</h3>
                    <div class="row">
                        {% for key, value in category %}
                        <div class="col-6 col-md-3">
                            <div class="card shadow bg-purple-2 text-center mb-4">
                                <a href="posts/{{ value }}">
                                    <div class="card-body p-0">
                                        <img class="img-fluid .img-thumbnail rounded-top card-image-top"
                                            src="static/images/{{ key }}.jpg" alt="generic artform image">
                                        <h4 class="card-title artform-btn btn off-white bg-purple-3 m-0 col-12"
                                            role="button">{{ value }}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-3">
            <div class="card shadow d-none d-sm-block d-md-none mb-4 bg-purple-1">
                <div class="card-body fancy text-center purple-4">
                    <h4>Showcase</h4>
                    <h4>your</h4>
                    <h4>creativity</h4>
                </div>
            </div>
            <div class="card shadow bg-purple-1">
                <div class="card-body text-center">
                    <h3 class="card-title index-title purple-3">Top 10</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card shadow bg-purple-2">
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}