{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}

<div class="container-fluid">
    <!-- Back button -->
    <div class="container pb-1">
        <a href="/" aria-label="back to home page">
            <i class="fa-solid fa-circle-chevron-left off-white back"></i>
        </a>
    </div>
    <!-- Welcome card -->
    <div class="row">
        <div class="col">
            <div class="card shadow bg-purple-3 pt-1 mb-2">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title oswald-title off-white text-center">Welcome {{ user.username }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow trans mb-5">
                <div class="card-body">
                    <div class="container-fluid d-inline-flex">
                        <span>
                            <h3 class="off-white oswald-title card-title mb-0 pt-4
                            ">Your Posts</h3>
                        </span>
                        <!-- Create post button -->
                        <span class="ms-auto mb-0 text-center">
                            <a href="{% url 'create_post' %}" class="off-white create-link" aria-label="create a post button">
                                <i class="fa-solid fa-circle-plus create pt-1"></i>
                                <p class="create-title mb-0 pb-1">Create a post</p>
                            </a>
                        </span>
                    </div>
                    <!-- Post list -->
                    {% for post in posts %}
                    <div class="row">
                        <div class="col">
                            <div class="card mb-3 border-0 bg-purple-3">
                                <div class="row g-0">
                                    <div class="col-lg-4">
                                        {% if "placeholder" in post.image.url %}
                                        {% for key, value in static_images %}
                                        {% if key == post.artform %}
                                        <img src="{% static value %}" alt="placeholder image"
                                            class="img-fluid rounded-3">
                                        {% endif %}
                                        {% endfor %}
                                        {% else %}
                                        <img src="{{ post.image.url }}" alt="posted media" class="img-fluid rounded-3">
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body off-white">
                                            <div class="container-fluid d-inline-flex">
                                                <h3 class="card-title">{{ post.title }}</h3>
                                                <!-- Edit and delete post links -->
                                                <span class="ps-2 ms-auto">
                                                    <a href="{% url 'update_post' pk=post.id %}" class="post-link off-white" aria-label="edit post link">Edit </a>
                                                    <br>
                                                    <a href="{% url 'delete' pk=post.id %}" class="post-link off-white" aria-label="delete post link"> Delete</a>
                                                </span>
                                            </div>
                                            <p class="card-text"><strong>Created: </strong> {{ post.created_date | timesince }} ago</p> 
                                            <p class="card-text"><strong>Artform: </strong>{{ post.artform }}</p>
                                            <p class="card-text"><strong>Description:
                                                </strong>{{ post.description | safe | truncatechars:200 }}</p>
                                            <div class="container-fluid d-inline-flex">
                                                <strong>
                                                    <span><i class="fa-regular fa-comment off-white fs-5"></i></span>
                                                    <span>{{ post.comments.count }}</span>
                                                </strong>
                                                <!-- Link to full post -->
                                                <span class="ms-auto">
                                                    <a href="{% url 'full_post' post.artform post.id %}"
                                                        class="post-link off-white" aria-label="link to full post page">View post</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Message shown if no posts have been created  -->
                    {% empty %}
                    <div class="row">
                        <div class="col">
                            <div class="card bg-purple-3 off-white">
                                <div class="card-body">
                                    <p>You havent created any posts yet :(</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}